@import 'nav.css';
@import 'kartat.ss';
/* ----css per kartat mas ballines----- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	font-family: "Raleway", sans-serif;
	background: #ffffff;
}

.container{
	margin: 10px;
}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
  border: 1px solid black;
	background: #3775c7;
	position: relative;
	flex: 1;
	max-width: 560px;
	height: 400px;
	margin: 20px;
	overflow: hidden;
}

.image img{
	opacity: 0.8;
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	transition-property: opacity;
}

.image:hover img{
	opacity: 1;
}

.image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: rgb(255, 255, 255);
	width: 100%;
	height: 100%;
}

.image .details h2{
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 70px;
	transition: 1s;
	transition-property: transform;
}

.image .details h2 span{
	font-weight: 900;
}

.image:hover .details h2{
	transform: translateY(-30px);
}

.image .details p{
	margin: 30px 30px 0 30px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}

.more{
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	text-align: center;
	padding: 20px;
	bottom: -70px;
	transition: 0.6s;
	transition-property: bottom;
}

.image:hover .more{
	bottom: 0;
}

.more .read-more{
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}

.more .read-more span{
	font-weight: 900;
}


/* ----css per kartat mas ballines----- */
.ballina{
    text-align: center;
   background-position: center;
   height: 500px;
   width: 100%;
   overflow: hidden;
}
.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .product-category {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Raleway", sans-serif;
  }
  
  .product-container {
    padding: 0 5vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-left: 40px;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 550px;
    margin-right: 60px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
  
  .discount-tag {
    position: absolute;
    background: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    color: #fc0000;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff0202;
  }
  
  .product-info {
    width: 100%;
    height: 120px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  .blej{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
   font-style: italic;
    top: 20%;
    left: 18%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.8;
  }
  .blej:hover{
    transition: 0.5s;
    opacity: 1;
    background-color: rgb(0, 0, 0);
  }
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 10px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 7vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(34, 21, 21, 0) 0%, rgb(255, 255, 255) 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.5;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
 
 
  .ballina .btn{
    font-family: "Raleway", sans-serif;
   position: absolute;
   font-style: italic;
    top: 40%;
    left: 26.5%;
    transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 23px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .ballina .btn:hover {
    transition: 0.5s ;
    background-color: black;
  }



  /*css per mallin */



  .malli-container{
    position: relative;
    display: flex;
    overflow: hidden;
  }
  .class-rreshti{
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
  }
  .karta1{
    margin: 20px;
    box-shadow: 0 0 0 1px #686865;
    transition: 0.2s all;
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid gray;
    flex: 0 0 auto;
    width: 400px;
    height: 530px;
  }
  .karta1:hover{
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0,0,0,0.2);
    transform: scale(1.03);
  }
  .karta1:hover .card-btn {
    opacity: 1;
  }
  .karta1-foto{
    display: flex;
    flex-flow: row;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .malli-zbritje{
    position: absolute;
    background: orangered;
    padding: 18px;
    color: #ffffff;
    right: 0px;
    top: 0px;
    font-size: large;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
  }
  .bleje{
    position: relative;
    border-top-right-radius: 5px;
    padding: 20px;
    border: none;
    text-transform: uppercase;
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
  }
  .bleje:hover{
    background-color: orangered;
    color: rgb(248, 248, 248);
  }

  .pershkrimi{
    border-top: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 130px;
    padding-top: 10px;
    background-color: rgb(27, 26, 26);
    color: white;
  }
  .malli-description {
    text-align: center;
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.8;
    text-transform: capitalize;
    margin: 5px 0;
  }
  .malli-firma{
    color: rgb(255, 253, 253);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  .karta1-foto a{
    position: absolute;
    bottom: 80px;
    left: -50%;
    text-align: left;
    text-decoration: none;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 500;
    width: 53%;
    text-transform: uppercase;
    padding: 10px;
    transition: 0.3s;
    clip-path: polygon(0 0, 57% 0, 72% 100%, 0% 100%);
  }
  .karta1:hover a{
    left: 0%;
  }
  .karta1-foto a:hover{
    background-color: orangered;
  }












  /*css per mallin */

  /* css per footer */
  .footer-container{
    max-width: 1170px;
    margin: auto;
  }

  .footer-row{
    display: flex;
    flex-wrap: wrap;
  }
  .rreshtiimage{
    position:relative;
    height: 160px;
    width:25%;
  }
  .rreshtiimage .logo-image{
    display:inline;
    width:250px;
    position:absolute;
    right: 250px;
  }
  ul{
    list-style:none;
  }
.footer{
  background-color: rgb(228, 224, 224);
  padding: 70px 0;
}
.rreshti1{
  width: 25%;
  padding: 0 60px;
}
.rreshti1 h4{
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom:35px;
  font-weight: 800;
  position: relative;
}
.rreshti1 h4::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  background-color: #fc0000;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.rreshti1 ul li:not(:last-child){
  margin-bottom: 10px;
}
.rreshti1 ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  color: #1a1919;
  display: block;
  transition: all 0.3s ease-out;
}
.rreshti1 ul li a:hover{
  color: rgb(179, 12, 12);
  padding-left: 10px;
}

.social-logos{
  background-color: antiquewhite;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0px;
  text-align: center;
  position: relative;
}
.social-logos h6{
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 40px;
  bottom: 30px;
  
}
.social-logos a{
 right:80px;
 font-size: 22px;
 width: 70px;
 height: 40px;
 display: inline-block;
 margin: 40px;
}